<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4> Thêm mới câu hỏi</h4>
            </div>
            <div class="card-body">


                <form>

                    <div class="form-group">
                        <label for="category_id">Đề thi</label>
                        <select class="form-control" name="category_id" id="category_id" [(ngModel)]="quiz.category_id">
          <option *ngFor="let category of categories| async" value="{{category.id}}">{{category.name}}</option>
        </select>
                    </div>
                    <div class="form-group">
                        <label for="text">Câu hỏi</label>
                        <input type="text" class="form-control" id="text" required [(ngModel)]="quiz.text" name="text" #name="ngModel">
<!--                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text">-->
<!--                            <div *ngIf="name.errors.required" style="color: red">-->
<!--                                Không được để trống-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div class="form-group">
                        <label for="option1">Đáp án 1:</label>
                        <input type="text" class="form-control" id="option1"  [(ngModel)]="quiz.option1" name="option1" >
<!--                        <div *ngIf="option1.invalid && (option1.dirty || option1.touched)" class="option1">-->
<!--                            <div *ngIf="option1.errors.required" style="color: red">-->
<!--                                Không được để trống-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div class="form-group">
                        <label for="option2">Đáp án 2:</label>
                        <input type="text" class="form-control" id="option2"  [(ngModel)]="quiz.option2" name="option2" >
<!--                        <div *ngIf="option2.invalid && (option2.dirty || option2.touched)" class="option2">-->
<!--                            <div *ngIf="option2.errors.required" style="color: red">-->
<!--                                Không được để trống-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div class="form-group">
                        <label for="option3">Đáp án 3:</label>
                        <input type="text" class="form-control" id="option3" [(ngModel)]="quiz.option3" name="option3" #option3="ngModel">
<!--                        <div *ngIf="option3.invalid && (option3.dirty || option3.touched)" class="option3">-->
<!--                            <div *ngIf="option3.errors.required" style="color: red">-->
<!--                                Không được để trống-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div class="form-group">
                        <label for="option4">Đáp án 4:</label>
                        <input type="text" class="form-control" id="option4"  [(ngModel)]="quiz.option4" name="option4" #option4="ngModel">
<!--                        <div *ngIf="option4.invalid && (option4.dirty || option4.touched)" class="option4">-->
<!--                            <div *ngIf="option4.errors.required" style="color: red">-->
<!--                                Không được để trống-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div class="form-group">
                        <label for="correctAnswer">Đáp án đúng:</label>
                        <input type="text" class="form-control" id="correctAnswer" [(ngModel)]="quiz.correctAnswer" name="correctAnswer" #correctAnswer="ngModel">
<!--                        <div *ngIf="correctAnswer.invalid && (correctAnswer.dirty || correctAnswer.touched)" class="correctAnswer">-->
<!--                            <div *ngIf="correctAnswer.errors.required" style="color: red">-->
<!--                                Không được để trống-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div style="float: right;"><button (click)="goToList()" class="btn btn-primary">Quay lại danh sách</button></div>
                    <button type="submit" class="btn btn-success" (click)="onSubmit()">Thêm mới</button>
                </form>
            </div>
        </div>
    </div>
</div>
