<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Cập nhật đề thi</h2>
            </div>
            <div class="card-body">
                <div class="container" style="width: 60%">

                    <div [hidden]="submitted">
                        <form (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="name">Đề thi</label>
                                <input type="text" class="form-control" id="name" [(ngModel)]="category.name"  name="name">
                            </div>




                            <div style="float: right;"><button (click)="goToList()" class="btn btn-primary">Quay lại danh sách</button></div>
                            <button type="submit" class="btn btn-success">Cập nhật</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
